<div>
    <nav>
        <a routerLink="/acer" [routerLinkActive]="['class1']"><img src="...assets/acer.png"></a>
        <a routerLink="/apple" [routerLinkActive]="['class1']"><img src="...assets/apple.png"></a>
        <a routerLink="/asus" [routerLinkActive]="['class1']"><img src="...assets/asus.png"></a>
        <a routerLink="/canon" [routerLinkActive]="['class1']"><img src="...assets/canon.png"></a>
        <a routerLink="/dell" [routerLinkActive]="['class1']"><img src="...assets/dell.png"></a>
        <a routerLink="/hp" [routerLinkActive]="['class1']"><img src="...assets/hp.png"></a>
        <a routerLink="/lenovo" [routerLinkActive]="['class1']"><img src="...assets/lenovo.png"></a>
        <a routerLink="/logitech" [routerLinkActive]="['class1']"><img src="...assets/logitech.jpg"></a>
        <a routerLink="/samsung" [routerLinkActive]="['class1']"><img src="...assets/samsung.png"></a>
        <a routerLink="/tplink" [routerLinkActive]="['class1']"><img src="...assets/tp-link.png"></a>
    </nav>
</div>


<router-outlet> </router-outlet>